// slide

@keyframes slide-in-next {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-next {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-250px);
    opacity: 0;
  }
}
@keyframes slide-in-prev {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-prev {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(250px);
    opacity: 0;
  }
}

.slide-fade-next {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all calc(var(--global-transition-carousel) / 2) ease-in;
  }
  &-enter-active {
    animation: slide-in-next calc(var(--global-transition-carousel) / 2) forwards ease-out;
  }
  &-leave-active {
    animation: slide-out-next calc(var(--global-transition-carousel) / 2) forwards ease-in;
  }
}

.slide-fade-prev {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all calc(var(--global-transition-carousel) / 2) ease;
  }
  &-enter-active {
    animation: slide-in-prev calc(var(--global-transition-carousel) / 2) forwards ease-out;
  }
  &-leave-active {
    animation: slide-out-prev calc(var(--global-transition-carousel) / 2) forwards ease-in;
  }
}
