// slide fade

@keyframes slide-fade-in-next {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fade-out-next {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-250px);
    opacity: 0;
  }
}
@keyframes slide-fade-in-prev {
  0% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fade-out-prev {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(250px);
    opacity: 0;
  }
}

.slide-fade-next {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all calc(var(--global-transition-carousel) / 2) ease-in;
  }
  &-enter-active {
    animation: slide-fade-in-next calc(var(--global-transition-carousel) / 2) forwards ease-out;
  }
  &-leave-active {
    animation: slide-fade-out-next calc(var(--global-transition-carousel) / 2) forwards ease-in;
  }
}

.slide-fade-prev {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all calc(var(--global-transition-carousel) / 2) ease;
  }
  &-enter-active {
    animation: slide-fade-in-prev calc(var(--global-transition-carousel) / 2) forwards ease-out;
  }
  &-leave-active {
    animation: slide-fade-out-prev calc(var(--global-transition-carousel) / 2) forwards ease-in;
  }
}

// slide with object-fit: cover movement

@keyframes slide-in-next {
  0% {
    transform: translateX(100vw);
    object-position: 25%;
  }
  100% {
    transform: translateX(0);
    object-position: 50%;
  }
}
@keyframes slide-out-next {
  0% {
    transform: translateX(0);
    object-position: 50%;
  }
  100% {
    transform: translateX(-100vw);
    object-position: 75%;
  }
}
@keyframes slide-in-prev {
  0% {
    transform: translateX(-100vw);
    object-position: 75%;
  }
  100% {
    transform: translateX(0);
    object-position: 50%;
  }
}
@keyframes slide-out-prev {
  0% {
    transform: translateX(0);
    object-position: 50%;
  }
  100% {
    transform: translateX(100vw);
    object-position: 25%;
  }
}

$ease-out: cubic-bezier(0, 0, 0.4, 1);
.slide-next {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all var(--global-transition-carousel) $ease-out;
  }
  &-enter-active {
    animation: slide-in-next var(--global-transition-carousel) forwards $ease-out;
  }
  &-leave-active {
    animation: slide-out-next var(--global-transition-carousel) forwards $ease-out;
  }
}

.slide-prev {
  /* apply transition to moving elements */
  &-enter-active,
  &-leave-active {
    transition: all var(--global-transition-carousel) $ease-out;
  }
  &-enter-active {
    animation: slide-in-prev var(--global-transition-carousel) forwards $ease-out;
  }
  &-leave-active {
    animation: slide-out-prev var(--global-transition-carousel) forwards $ease-out;
  }
}
