// Utilities

.clickable {
  cursor: pointer;
  transition: var(--global-transition-fast);
  &:hover {
    filter: contrast(0.7);
  }
  &:active {
    filter: contrast(1);
  }
}

.mt-1-5 {
  margin-top: 0.5rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
